/* barlow-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: url('./Assets/Fonts/barlow-v12-latin/barlow-v12-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
/* barlow-condensed-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    src: url('./Assets/Fonts/barlow-condensed-v12-latin/barlow-condensed-v12-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
/* bellefair-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    src: url('./Assets/Fonts/bellefair-v14-latin/bellefair-v14-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

:root {
    --color1: #ffffff;
    --color2: #D0D6F9;
    --color3: #0B0D17;  
}

body {
    padding: 0;
    margin: 0;
    background: url(./Assets/Img/Background\ mobile\ Crew\ A.jpg) center/cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    color: var(--color2);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;  
}

.logo {
    margin: 0;
    display: flex;
}

.logo img {
    width: 2.5rem;
    height: 2.5rem;
}
.burger {
    width: 1.5rem;
    height: 1.3125rem;
}
.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.first-paragraph {
    display: flex;
    
    
}

.page-number{
    font-family: "Barlow Condensed";
    color: #ffffff25;
    letter-spacing: .1688rem;
}

.meet-crew {
    font-family: "Barlow Condensed";
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .1688rem;
    margin-left: 16px;
}

.crew-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

picture {
    margin: 10px 0;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.span-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
    width: 40%;
}

.span-container span {
    height: .625rem;
    width: .625rem;
    background-color: #ffffff25;
    border-radius: 150px;
}

.span-container span.actif{
    background-color: var(--color1);
}


.grade {
    font-family: "Bellefair";
    font-size: 1rem;
    color: #ffffff25;
    margin: 32px 0 0 0;
}

h1 {
    font-family: "Bellefair";
    font-size: 1.5rem;
    color: var(--color1);
    margin: 8px 0 0 0;
}

.bio {
    width: 88%;
    font-family: "Barlow";
    font-size: .9375rem;
    line-height: 25px;
    margin: 16px 0 0 0;
}

